* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/* PC버전 */
@media (min-width: 1200px) {
  /* header */
  header .menu i,
  header nav .icon {
    display: none;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    position: fixed;
    align-items: center;
    z-index: 10;
    background-color: #fff;
  }
  /* header logo */
  header div.logo {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header div.logo .logo-img {
    height: 100%;
    align-items: center;
  }
  header div.logo-img img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translate(-50%, -50%);
  }
  header .logo .logo-txt {
    width: 100%;
  }
  header div.logo h1 span {
    position: absolute;
    top: 0;
    left: 4rem;
    transform: translateY(-50%);
  }

  /* header nav */
  header nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  header nav ul li a {
    font-size: 1.5rem;
  }

  /* header end */
  header div.end {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  header div.end {
    display: flex;
    flex-direction: column;
  }

  /* header end top */
  header div.end ul.top {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
  header div.end ul.top li {
    position: relative;
    font-size: 0.9rem;
  }

  header div.end ul.top li.join {
    padding: 0 0.5rem;
    border-left: 1px solid #151515;
    border-right: 1px solid #151515;
  }

  /* header end bottom */
  header .end .bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  /* 후원하기 박스 */
  header div.end .box {
    width: 14rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    background-color: #e67422;
    color: #fff;
  }
  header div.end .box a {
    display: block;
    width: 100%;
    text-align: center;
  }
  /* 헤더 스크롤효과 */
  header .scroll {
    opacity: 0;
  }

  /* 비주얼 */
  #visual {
    width: 100%;
    position: relative;
  }
  /* 비주얼 이미지 */

  #visual ul.bg-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
  }

  #visual ul.bg-wrap li {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #visual ul.bg-wrap .bg1 {
    background-image: url(../img/v1.png);
  }
  #visual ul.bg-wrap .bg2 {
    background-image: url(../img/v2.jpg);
  }
  #visual ul.bg-wrap .bg3 {
    background-image: url(../img/v3.jpg);
  }

  #visual ul.bg-wrap li p,
  #visual ul.bg-wrap li a {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #visual ul.bg-wrap li p {
    bottom: 50%;
    font-size: 2rem;
    text-align: center;
  }
  #visual ul.bg-wrap li a {
    bottom: 40%;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 200px;
    text-align: center;
  }
  #visual i {
    color: #fff;
  }
  #visual ul.bg-wrap li a:hover {
    background-color: #e67422;
  }
  #visual ul.bg-wrap li {
    position: absolute;
    top: 0;
    left: 0;
  }
  /* 화살표 위치 */

  #visual ul.arrow-wrap li i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 5rem;
  }
  #visual ul.arrow-wrap .prev {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
  #visual ul.arrow-wrap .next {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
  /* visual agency */
  #visual .agency-wrap {
    width: 65%;
    display: flex;
    gap: 2rem;
    margin-top: -200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
  #visual .agency {
    width: 100%;
    height: 20rem;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: rgba(132, 138, 143, 0.3) 4px 4px 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #visual .agency .item .icon {
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 50%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #visual .agency .item .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #visual .agency .item .txt {
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
  }
  /* container */
  /* con01 */
  .con01 {
    width: 100%;
    margin: 15rem auto;
    position: relative;
  }
  .con01 .txt01 h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
  }
  .con01 .txt01 p {
    margin: 2rem 0 5rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .con01 ul.bg-wrap {
    width: 80%;
    height: 90vh;
    display: flex;
    gap: 2px;
    margin: 10rem auto;
  }
  .con01 ul.bg-wrap .bg1 {
    background-image: url(../img/wind1.jpg);
    border-radius: 3rem 0 0 0;
  }
  .con01 ul.bg-wrap .bg2 {
    background-image: url(../img/animal5.jpg);
  }
  .con01 ul.bg-wrap .bg3 {
    background-image: url(../img/tree3.png);
  }
  .con01 ul.bg-wrap .bg4 {
    background-image: url(../img/plastic1.jpg);
    border-radius: 0 0 3rem 0;
  }

  .con01 ul.bg-wrap li {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.5s;
  }

  /* con01 text-wrap */
  .con01 .text-wrap {
    color: #fff;
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    height: 6rem;
    font-size: 1rem;
  }
  /* sharp-wrap */
  .con01 .text-wrap .sharp-wrap {
    height: 2rem;
    overflow: hidden;
    /* border: 1px solid red; */
  }
  .con01 .text-wrap .sharp-wrap p {
    margin-top: 2rem;
  }
  .con01 .text-wrap .sharp-wrap h3 {
    height: 3rem;
    transition: 0.5s;
  }

  /* 호버했을때 아래 다른 글자색 올라오게함 */
  .con01 .bg-wrap li:hover h3 {
    display: block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translateY(-3rem);
  }

  .con01 .sharp-wrap h3.sharp1 {
    background-image: linear-gradient(to right, blue, skyblue, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .con01 .sharp-wrap h3.sharp2 {
    background-image: linear-gradient(to right, orange, yellow, white, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .con01 .sharp-wrap h3.sharp3 {
    background-image: linear-gradient(to right, green, lightgreen, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .con01 .sharp-wrap h3.sharp4 {
    background-image: linear-gradient(to right, brown, #ddd, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  /* con02 */
  .con02 {
    width: 100%;
    margin: 0 auto 5rem;
    transform: translateY(200px);
  }
  .con02 .txt {
    font-size: 1.5rem;
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  /* bar */
  .con02 .bar {
    width: 200px;
    margin: 1rem auto 3rem;
    height: 1rem;
    display: flex;
  }
  .con02 .bar1 {
    width: 80%;
    height: 100%;
    background-color: #34742b;
  }
  .con02 .bar2 {
    width: 20%;
    height: 100%;
    background-color: #e67422;
  }
  /* support */
  .con02 .support {
    display: flex;
    width: 65%;
    gap: 2rem;
    margin: 5rem auto 0;
    text-align: center;
  }
  .con02 .support h3 {
    color: #34742b;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .con02 .support li {
    width: calc(100% / 4);
    border: 1px solid #34742b;
    border-radius: 2rem;
    text-align: center;
    align-items: center;
    padding: 5rem 0;
    margin-top: 5rem;
    box-sizing: border-box;
  }
  .con02 .support li img {
    width: 50%;
  }

  .con02 .support li .white {
    display: none;
  }
  .con02 .support li:first-child {
    background-color: #34742b;
  }
  .con02 .support li:first-child h3 {
    color: #fff;
  }
  .con02 .support li:first-child .green {
    display: none;
  }
  .con02 .support li:first-child .white {
    display: block;
  }
  /* con03 */
  .con03 {
    width: 95%;
    height: 80vh;
    margin: 10rem auto;
    position: relative;
    transform: translateY(300px);
  }
  /* con03 bg-wrap */
  .con3 {
    width: 100%;
  }
  .con03 .bg-wrap li {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .con03 .bg-wrap .bg1 {
    background-image: url(../img/tree3.png);
  }
  .con03 .bg-wrap .bg2 {
    background-image: url(../img/earth1.jpg);
  }
  .con03 .bg-wrap .bg3 {
    background-image: url(../img/people1.jpg);
  }
  .con03 .bg-wrap .bg4 {
    background-image: url(../img/ocean2.jpg);
  }
  .con03 .bg-wrap .bg5 {
    background-image: url(../img/animal3.jpg);
  }

  /* con03 txt */
  .con03 .txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
  }
  .con03 .txt ul h2,
  .con03 .txt ul a,
  .con03 .txt ul i {
    color: #fff;
  }
  .con03 .txt ul p {
    color: #e67422;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .con03 .txt ul {
    width: 50%;
    height: 50%;
    display: flex;
    gap: 3rem;
    /* border: 1px solid #fff; */
    padding: 7rem 5rem;
  }

  .con03 .txt ul h2 {
    font-size: 2rem;
    width: 100%;
  }
  .con03 .txt ul:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .con03 .txt .qna {
    width: 150px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    /* border: 1px solid #fff; */
    background-color: #e67422;
    border-radius: 20px;
    padding: 0.5rem 1rem;
  }

  /* footer */
  /* footer left */
  /* 푸터 top */
  footer {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    gap: 20rem;
  }
  footer .left .top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  footer .left .top .bold {
    font-weight: bold;
  }
  footer .left .center {
    margin: 2rem 0;
  }
  /* footer center p */
  footer .center p {
    height: 2rem;
    line-height: 1.5rem;
  }
  /* footer right */
  footer .right {
    margin-top: -1rem;
  }
  footer .right > p {
    font-weight: bold;
  }
  /* 아이콘꾸미기 */
  footer .right ul.icon {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin: 1rem 0;
  }
  footer .right ul.icon li {
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 20px;
    color: #fff;
  }
  footer .right .account {
    text-align: center;
    width: 14rem;
    height: 3rem;
    margin-top: 1rem;
    line-height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #e67422;
    color: #fff;
  }
  /* family-site slide펼치기효과 */
  footer .family-site {
    position: relative;
  }

  footer .family-site .box {
    width: 100%;
    height: 3rem;
    align-items: center;
    border: 1px solid #666;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
  }
  footer .family-site .slide {
    width: 100%;
    position: absolute;
    top: 3rem;
    width: 100%;
    border: 1px solid #666;
    display: none;
  }
  footer .family-site .slide a {
    padding: 10px 0 10px 10px;
    display: block;
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    align-items: center;
  }
  footer .family-site .slide a:hover {
    background-color: #e67422;
    color: #fff;
    font-weight: bol;
  }
}
